@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-urbanist);
  --font-mono: var(--font-manrope);
}

@theme{
  --text-tiny: 10px; 

  --color-primary: #2ED3B7;
  --color-topbarbutton: #1D1E20;
  --color-topbar: #111213;
  --color-card: #17181A;
  --color-tabs: #111213;
  
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer and Edge */
* {
  -ms-overflow-style: none;
}